* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    height: 5.5rem;
    background-color: #fff;
    border-bottom: 1px solid #202020;
    font-family: 'Open Sans', sans-serif;
    padding: 0 5rem; /* Adiciona padding lateral */
}

/* Logo */
.logo {
    position: relative;
    width: 200px; 
    height: 75px; 
}

.logo-image {
    object-fit: contain; 
}

/* Navegação */
.nav-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que a nav-container ocupe o espaço disponível */
    justify-content: space-between; /* Espaço entre os elementos */
}

/* Links de Navegação */
.nav-links {
    display: flex;
    gap: 4rem; /* Espaçamento padrão entre os links */
    list-style: none;
    justify-content: center; /* Centraliza os links dentro do nav-container */
    flex-grow: 1; /* Permite que os links ocupem o espaço restante */
}

/* Links de Navegação */
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

/* Links de Autenticação */
.auth-links {
    display: flex;
    gap: 2rem; /* Espaçamento padrão entre os links de autenticação */
}

/* Botões */
.login-button,
.signup-button {
    background-color: transparent;
    border: transparent;
    color: var(--button-color);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    white-space: nowrap; /* Impede que o texto divida em várias linhas */
}

.signup-button {
    background-color: var(--button-color);
    color: #fff;
}

.login-button:hover {
    background-color: transparent;
    color: #202020;
}

.signup-button:hover {
    background-color: #202020;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {
    .header {
        padding: 1rem; /* Reduz o padding lateral */
    }

    .nav-links {
        gap: 2rem; /* Diminui o espaçamento entre os links */
    }

    .auth-links {
        gap: 2rem; /* Diminui o espaçamento entre os links de autenticação */
    }

    .logo {
        width: 150px; /* Diminui a largura da logo em telas menores */
        height: 50px; /* Permite que a altura seja automática */
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: row; /* Empilha os elementos verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
        height: auto; /* Permite altura automática */
        padding: 1rem 0; /* Ajusta o padding superior e inferior */
    }

    .nav-container {
        flex-direction: row; /* Coloca os nav-links e auth-links um abaixo do outro */
        align-items: center; /* Centraliza os itens */
    }

    .nav-links {
        flex-direction: column; /* Empilha os links verticalmente */
        align-items: center; /* Centraliza os links */
        gap: 1rem; /* Diminui o espaçamento entre os links */
        width: 100%; /* Faz com que os links ocupem toda a largura */
    }

    .auth-links {
        margin-top: 1rem; /* Adiciona margem superior para separar dos nav-links */
        margin-right: 1rem;
    }

    .login-button,
    .signup-button {
        width: 100px; /* Botões ocupam mais espaço */
        height: 45px; /* Aumenta a altura dos botões */
        font-size: 1rem; /* Aumenta o tamanho da fonte */
    }

    /* Garante que a logo apareça em telas menores */
    .logo {
        width: 150px; /* Ajusta a largura da logo */
        height: 75px; /* Permite que a altura seja automática */
        margin-left: 2rem; /* Adiciona espaço entre a logo e os links */
    }
}

@media (max-width: 480px) {
    .nav-links {
        gap: 0.4rem; /* Diminui ainda mais o espaçamento */
    }

    .nav-links a {
        font-size: 0.8rem;
    }

    .login-button,
    .signup-button {
        background-color: transparent;
        color: var(--button-color);
        width: 50px; /* Botões ocupam quase toda a largura */
        font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    }
}
