@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&display=swap");

* {
    margin: 0; /* Remove margin padrão */
    padding: 0; /* Remove padding padrão */
    box-sizing: border-box; /* Garante que padding e bordas sejam incluídos no tamanho total do elemento */
}

:root {
    --button-color: #1D3557; /* Cor do botão */
    --background-color: #f8f9fa; /* Cor de fundo da página */
    --text-color: #343a40; /* Cor do texto */
}

body {
    background-color: var(--background-color);
    font-family: 'Albert Sans', sans-serif; /* Fonte personalizada */
}

.vagas-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100%; 
}

label {
    position: relative;
    top: 2rem;
    color: var(--text-color);
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Albert Sans', sans-serif; 
    
}

.search-job {
    position: relative;
    top: 3rem;

    height: 3rem;
    max-width: 30rem; 
    width: 100%; 

    padding: 10px;
    color: #333;
    font-size: 16px;
    font-family: 'Albert Sans', sans-serif; 

}

.divider {
    position: relative;
    top: 5rem;

    width: 100%; 
    height: 1px; 
    background-color: #ccc; 
}

.container {
    position: relative;
    top: 8rem;

    display: flex;
    gap: 3rem;

    padding-top: 2rem;
    padding-left: 2rem;
    height: 85%;
    width: 85%;
}

.job-list { 
    position: relative;
    bottom: 1.05rem;
    padding-left: 1.2rem;
    height: 100%;
    width: 42%;
}

.jobs {
    padding-top: 2rem;
    padding-left: 1.5rem;
    height: 15rem;
    width: 90%;
    border: 1px solid var(--text-color);
    border-radius: 10px;

    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.jobs h3 {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.jobs p {
    display: -webkit-box; 
    display: box; 
    padding-top: 2rem;
    -webkit-line-clamp: 5;
    line-clamp: 5; 
    -webkit-box-orient: vertical; 
    box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    white-space: normal; 
    color: #333; 
    font-size: 14px;
    margin-right: 50px;
}



.selected-job {
    height: 100%;
    width: 50%;

    border: 1px solid var(--text-color);
    border-radius: 5px;
}


.selected-job h1 {
    margin-top: 2rem;
    margin-left: 2rem;

}


.selected-job p {
    margin-top: 1rem;
    margin-left: 2rem;

}


.selected-job .btn-job {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

  
    width: 50%;
    padding: 10px;
    background-color: var(--button-color);
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Albert Sans', sans-serif; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divider-job {

    width: 100%; 
    height: 1px; 
    background-color: #ccc; 
}

.selected-job .description {
    display: -webkit-box; 
    display: flex; 
    -webkit-box-orient: vertical; 
    box-orient: vertical; 
    padding-top: 2rem;
    color: #333;
    font-size: 1.1rem;
    margin-right: 2rem;

    max-height: 65%; 
    overflow-y: auto; 
    word-wrap: break-word; 
    white-space: normal; 
    text-overflow: ellipsis; 
}

.search-results {
    padding-bottom: 1rem;
    padding-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}